.flatpickr-calendar {
  @apply p-2 w-auto;

  .flatpickr-weekdays {
    @apply mb-1;
  }

  /* stylelint-disable-next-line selector-class-pattern */
  .dayContainer,
  .flatpickr-weekdays,
  .flatpickr-days {
    max-width: 248px;
    min-width: 248px;
    width: 248px;
  }

  /* stylelint-disable-next-line selector-class-pattern */
  .dayContainer {
    @apply content-between;

    height: 212px;
  }

  .flatpickr-day {
    @apply block box-border rounded-sm text-xs text-gray-500;
    line-height: 32px;
    max-height: 32px;

    max-width: 32px;

    /* stylelint-disable-next-line selector-class-pattern */
    &.prevMonthDay {
      @apply text-gray-400;
    }

    &.today {
      @apply border-gray-300;
    }

    &.selected {
      @apply text-white bg-gray-400 border-gray-400;
    }

    &:hover {
      @apply bg-gray-200 border-gray-200;

      &.selected,
      &.today {
        @apply text-gray-500;
      }
    }
  }
}
