@tailwind base;

@tailwind components;

@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  font-family: lato, sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  font-smooth: always;
  -moz-osx-font-smoothing: grayscale;
}

@tailwind utilities;
