@tailwind base;
h1 {
  @apply title-2xl;
}
h2 {
  @apply title-xl;
}
h3 {
  @apply title-lg;
}
h4 {
  @apply title-sm;
}
h5 {
  @apply title-xs;
}
h6 {
  @apply title-xxs;
}
@tailwind components;
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
*{
  -webkit-font-smoothing: antialiased !important;
  font-smoothing: always !important;
  text-shadow: 1px 1px 1px rgba(0,0,0,.004);
  -moz-osx-font-smoothing: grayscale;
}
@tailwind utilities;
